@import url('https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}